input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.label-control.required:after {
  color: #d00;
  content: "*";
  // position: absolute;
  // margin-left: 10px;
  // top:7px;
}

// Model
.cmodal {
  width: 700px !important;
  max-width: 1000px;
}

// tooltip
.my-custom-class .tooltip-inner {
  background-color: rgb(26, 187, 236);
  font-size: 75%;
}
.my-custom-class .arrow::before {
  background-color: rgb(26, 187, 236);
}
