<!--Confirm Action Starts-->
<section id="action">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            Contractor Master
            <div _ngcontent-hci-c8="" class="form-actions top" style="float:right;">
              <button _ngcontent-hci-c8="" class="btn btn-raised btn-primary" type="button" (click)="openForm()">
                <i _ngcontent-hci-c8="" class="fa fa-check-square-o"></i> New 
              </button>
            </div>
          </div>

        </div>
        <div class="card-content">
          <div class="card-body">
            <table class="table table-responsive-md">
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>Contarctor Name</th>
                  <th colspan="2">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="showNew" [formGroup]="newContractor">
                  <td>
                    <input type="text" id="projectinput1" class="form-control" formControlName="contractorId" placeholder="" name="contractorId" autocomplete="off" maxlength="50"
                      readonly>
                    <div *ngIf="submitted && f.contractorId.errors" class="invalid-feedback">
                      <div *ngIf="f.contractorId.errors.required">Please Enter Id</div>
                    </div>
                  </td>
                  <td>
                    <input type="text" id="projectinput1" class="form-control" formControlName="contractorName"
                      placeholder="Contractor name" name="contractorName" (blur)="checkName()" required autocomplete="off" maxlength="50"
                      [ngClass]="{ 'is-invalid': submitted && f.contractorName.errors }">
                    <div *ngIf="submitted && f.contractorName.errors" class="invalid-feedback">
                      <div *ngIf="f.contractorName.errors.required">Please enter contactor type</div>
                      <div *ngIf="f.contractorName.errors.pattern">Special characters not allowed</div>
                    </div>
                  </td>
                  <td>
                    <a class="success p-0" data-original-title="" (click)="save()" title="">
                      <i class="ft-check font-medium-3 mr-2"></i>
                    </a>
                    <a class="danger p-0" data-original-title="" (click)="cancel()" title="">
                      <i class="ft-x font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngFor="let data of contractors; let i = index;" [formGroup]="updateContractor">
                  <td>
                    <span [hidden]="data.showUpdate">
                      {{i+1}}
                    </span>
                    <span [hidden]="!data.showUpdate">
                      <input type="text" id="projectinput1" class="form-control" [(ngModel)]="contractors.contractorId" formControlName="contractorId"
                         name="contractorId" autocomplete="off" readonly>
                      <div *ngIf="submitted1 && f1.contractorId.errors" class="invalid-feedback">
                        <div *ngIf="f1.contractorId.errors.required">Please Enter Serial number</div>
                      </div>
                    </span>
                  </td>
                  <td>
                    <span [hidden]="data.showUpdate">
                      {{data.contractorName}}
                    </span>
                    <span [hidden]="!data.showUpdate">
                      <input type="text" id="projectinput1" class="form-control" [(ngModel)]="contractors.contractorName" formControlName="contractorName"
                         name="contractorName" required autocomplete="off" (blur)="checkName()" maxlength="50"
                        [ngClass]="{ 'is-invalid': submitted1 && f1.contractorName.errors }">
                      <div *ngIf="submitted1 && f1.contractorName.errors" class="invalid-feedback">
                        <div *ngIf="f1.contractorName.errors.required">Please enter contractor type</div>
                        <div *ngIf="f1.contractorName.errors.pattern">Special characters not allowed</div>
                      </div>
                    </span>
                  </td>
                  <td width="160">
                    <span [hidden]="data.showUpdate">
                      <a class="success p-0" data-original-title="" (click)="editCustomer(data)" title="">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                      </a>
                      <a class="danger p-0" data-original-title="" (click)="deleteCustomer(data)" title="">
                        <i class="ft-x font-medium-3 mr-2"></i>
                      </a>
                    </span>
                    <span [hidden]="!data.showUpdate">
                      <a class="success p-0" data-original-title="" (click)="saveUpdate(data)" title="">
                        <i class="ft-check font-medium-3 mr-2"></i>
                      </a>
                      <a class="danger p-0" data-original-title="" (click)="cancelUpdate(data)" title="">
                        <i class="ft-x font-medium-3 mr-2"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Confirm Action Ends-->