<!--Confirm Action Starts-->
<section id="action" *ngIf="showList">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Block Beacon Map</h4>
          <div _ngcontent-hci-c8="" class="form-actions top" style="float:right;margin-top: -30px;">
            <button _ngcontent-hci-c8="" class="btn btn-raised btn-primary" type="button" (click)="openForm()"
              placement="bottom" ngbTooltip="New Block Beacon Map" tooltipClass="my-custom-class">
              <i _ngcontent-hci-c8="" class="fa fa-check-square-o"></i> New
            </button>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <table class="table table-responsive-md">
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>Block Name</th>
                  <th>Beacon Code</th>
                  <th>Beacon Type</th>
                  <th style='padding: 8px;' colspan="6">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of pageOfItems">
                  <td>{{ blockbeaconMap.indexOf(data) + 1}}</td>
                  <td>{{data.blkLogicalName}}</td>
                  <td>{{data.beaconCode}}</td>
                  <td>{{data.beaconType}}</td>
                  <td width="160">
                    <a class="success p-0" (click)="editBlockBeaconMap(data)" placement="bottom" ngbTooltip="Edit"
                      tooltipClass="my-custom-class">
                      <i class="ft-edit-2 font-medium-3 mr-2"></i>
                    </a>
                    <!-- <a class="danger p-0" (click)="deleteBlockBeaconMap(data)" placement="bottom" ngbTooltip="Delete" tooltipClass="my-custom-class">
                        <i class="ft-trash-2 font-medium-3 mr-2"></i>
                      </a> -->
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card-footer pb-0 pt-3">
              <jw-pagination [items]='blockbeaconMap' (changePage)="onChangePage($event)"></jw-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Confirm Action Ends-->

<!-- Basic form layout section start -->
<section id="basic-form-layouts" *ngIf="showForm">
  <div class="rowtext-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="bordered-layout-basic-form"></h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form [formGroup]="newBlockBeaconMap" (ngSubmit)="onSubmit()">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i>{{formInfo}} Block Beacon Map</h4>
                <input type="text" name="blkBeaconMapId" formControlName="blkBeaconMapId" hidden>

                <h4 *ngIf="custId != 0">
                  <span class="mr-3">Customer Name:</span><span
                    style="font-weight: bold; color: #343A40;">{{custName}}</span>
                </h4>
                <pre></pre>

                <div class="form-group row" *ngIf="custId == 0">
                  <label class="col-md-2 label-control required" for="refCustId">Customers</label>
                  <div class="col-md-4">
                    <select id="refCustId" name="refCustId" (change)="onChangeCustomer($event.target.value)"
                      formControlName="refCustId" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.refCustId.errors }">
                      <option selected disabled value="null">Select Customer</option>
                      <option *ngFor="let ct of globalCustomers" [value]="ct.custId">{{ct.custName}}</option>
                    </select>
                    <div *ngIf="submitted && f.refCustId.errors" class="invalid-feedback">
                      <div *ngIf="f.refCustId.errors.required">Please Select Customer</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-2 label-control required" for="refBranchId">Branch</label>
                  <div class="col-md-4">
                    <select id="refBranchId" name="refBranchId" (change)="onChangeBranch($event.target.value)"
                      formControlName="refBranchId" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.refBranchId.errors }">
                      <option selected disabled [value]="null">Select Branch</option>
                      <option *ngFor="let ct of globalBranch" [value]="ct.brId">{{ct.brName}}</option>
                    </select>
                    <div *ngIf="submitted && f.refBranchId.errors" class="invalid-feedback">
                      <div *ngIf="f.refBranchId.errors.required">Please Select Branch</div>
                    </div>
                  </div>

                  <label class="col-md-2 label-control required" for="refBlkId">Block</label>
                  <div class="col-md-4">
                    <select id="refBlkId" formControlName="refBlkId" name="refBlkId" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.refBlkId.errors }">
                      <option selected disabled value="null">Select Block</option>
                      <option *ngFor="let st of globalBlock" [value]="st.blkId">{{st.blkLogicalName}}</option>
                    </select>
                    <div *ngIf="submitted && f.refBlkId.errors" class="invalid-feedback">
                      <div *ngIf="f.refBlkId.errors.required">Please Select Block</div>
                    </div>
                  </div>
                </div>

                <!-- Beacons selection -->
                <div class="row">
                  <div class="col-sm-1">

                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-header">
                        <h6 class="card-title">Unused Beacons</h6>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <div *ngFor="let field of fieldlist">
                            <div class="card-body list-group-item list-group-item-action"
                              style="border:none;cursor: pointer;"
                              [class.highlighted]="leftFieldName.indexOf(field) !== -1"
                              (click)="multiSelectLeft(field)">
                              <h6>{{field.name}}</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1">

                  </div>
                  <div class="col-sm-2 ml-5">
                    <button class="btn btn-raised btn-primary" style="margin-top: 60px" (click)="pushAll()"
                      [disabled]="fieldlist.length == 0" title="Select All Fields">
                      <i class="ft-chevrons-right"></i>
                    </button><br>
                    <button class="btn btn-raised btn-primary mt-3" (click)="pushOne()"
                      [disabled]="leftFieldName.length == 0" title="Select Particular Fields">
                      <i class="ft-chevron-right"></i>
                    </button><br>
                    <button class="btn btn-raised btn-primary mt-3" (click)="popOne()"
                      [disabled]="rightFieldName.length == 0" title="Remove Particular Fields">
                      <i class="ft-chevron-left"></i>
                    </button><br>
                    <button class="btn btn-raised btn-primary mt-3" (click)="popAll()" [disabled]="fields.length == 0"
                      title="Remove All Fields">
                      <i class="ft-chevrons-left"></i>
                    </button>
                  </div>
                  <div class="col-sm-1">

                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-header">
                        <h6 class="card-title">Used Beacons</h6>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <div *ngFor="let fd of fields">
                            <div class="card-body list-group-item list-group-item-action"
                              style="border:none;cursor: pointer;"
                              [class.highlighted]="rightFieldName.indexOf(fd) !== -1" (click)="multiSelectRight(fd)">
                              <h6>{{fd.name}}</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1">

                  </div>
                </div>
                <!-- Beacon Selection ends -->

              </div>
              <div class="form-actions">
                <button type="reset" (click)="cancel()" class="btn btn-raised btn-warning mr-1"><i class="ft-x"></i>
                  Close</button>
                <button type="submit" class="btn btn-raised btn-info mr-1"><i
                    class="ft-check"></i>&nbsp;{{btnName}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic form layout section end -->