<!-- List Section starts-->
<section id="extended" *ngIf="isList">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Employee</h4>
          <div _ngcontent-hci-c8="" class="form-actions top" style="float:right;margin-top: -30px;">
            <button _ngcontent-hci-c8="" class="btn btn-raised btn-primary" type="button" (click)="openForm()"
              placement="bottom" ngbTooltip="New Employee" tooltipClass="my-custom-class">
              <i _ngcontent-hci-c8="" class="fa fa-check-square-o"></i> New
            </button>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <table class="table table-responsive-md text-center">
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>Employee Name</th>
                  <th>Designation</th>
                  <th>Employee Type</th>
                  <th>Date of Joining</th>
                  <th>Branch</th>
                  <th>Department</th>
                  <!-- <th>Manager</th> -->
                  <th colspan="2">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let emp of pageOfItems; let i =index;">
                  <td>{{i + 1}}</td>
                  <td>{{emp.empName}}</td>
                  <td>{{emp.designationName}}</td>
                  <td>{{emp.empType}}</td>
                  <td>{{emp.empJoiningDate | date: 'dd-MM-yyyy'}}</td>
                  <td>{{emp.brName}}</td>
                  <td>{{emp.deptName}}</td>
                  <!-- <td>{{emp.empMgr}}</td> -->
                  <td width="160">
                    <a class="warning p-0" (click)="viewEmployee(emp.empId)" placement="bottom" ngbTooltip="View"
                      tooltipClass="my-custom-class">
                      <i class="ft-eye font-medium-3 mr-2"></i>
                    </a>
                    <a class="success p-0" (click)="editEmployee(emp.empId)" placement="bottom" ngbTooltip="Edit"
                      tooltipClass="my-custom-class">
                      <i class="ft-edit-2 font-medium-3 mr-2"></i>
                    </a>
                    <a class="danger p-0" (click)="deleteEmployee(emp.empId)" placement="bottom"
                      ngbTooltip="Delete" tooltipClass="my-custom-class">
                      <i class="ft-trash-2 font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card-footer pb-0 pt-3">
              <jw-pagination [items]='globalEmployees' (changePage)="onChangePage($event)"></jw-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- List section Ends -->

<!-- Basic form layout section start -->
<section id="ngx" *ngIf="showForm">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <aw-wizard #wizard navBarLayout="large-empty-symbols">
          <aw-wizard-step [stepTitle]="'Employee Details'"
            [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
            <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
              <h4 class="head text-center">Please fill below details.</h4>
              <br />
              <div class='row'>
                <div class='col-12'>
                  <div class="row">

                    <div class='col-sm-4'>
                      <div class="form-group">
                        <label class="form-control-label required" for="empName">Employee Name</label>
                        <input type="text" id="empName" class="form-control" formControlName="empName"
                          placeholder="Enter Employee Name" name="empName" required autocomplete="off" maxlength="50"
                          [ngClass]="{ 'is-invalid': submitted && f.empName.errors }">
                        <div *ngIf="submitted && f.empName.errors" class="invalid-feedback">
                          <div *ngIf="f.empName.errors.required">Please provide Employee Name</div>
                        </div>
                      </div>
                    </div>

                    <div class='col-sm-4'>
                      <div class="form-group">
                        <label class="form-control-label required" for="empMobile">Mobile Number</label>
                        <input type="tel" formControlName="empMobile" maxlength="10" id="empMobile" class="form-control"
                          placeholder="Enter Mobile Number" name="number" autocomplete="off"
                          onkeydown="javascript: return (event.keyCode >= 8 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 107 || event.keyCode == 187? true : false"
                          [ngClass]="{ 'is-invalid': submitted && f.empMobile.errors }">
                        <div *ngIf="submitted && f.empMobile.errors" class="invalid-feedback">
                          <div *ngIf="f.empMobile.errors.required">Please provide Mobile Number</div>
                          <div *ngIf="f.empMobile.errors.pattern">Mobile Number should be 10 numbers</div>
                        </div>
                      </div>
                    </div>

                    <div class='col-sm-4'>
                      <div class="form-group">
                        <label class="form-control-label required" for="empTypeId">Employee Type</label>
                        <select id="empTypeId" name="empTypeId" formControlName="empTypeId" class="form-control"
                          (change)="selectedEmpType($event.target.value)"
                          [ngClass]="{ 'is-invalid': submitted && f.empTypeId.errors }">
                          <option selected disabled value="null">Select Employee Type</option>
                          <option *ngFor="let ct of globalEmpType" [value]="ct.empTypeId">{{ct.empType}}</option>
                        </select>
                        <div *ngIf="submitted && f.empTypeId.errors" class="invalid-feedback">
                          <div *ngIf="f.empTypeId.errors.required">Please Select Employee Type</div>
                        </div>
                      </div>
                    </div>

                    <div class='col-sm-4' *ngIf="showContractor">
                      <div class="form-group">
                        <label class="form-control-label" for="contractorId">Contractor</label>
                        <select id="contractorId" name="contractorId" formControlName="contractorId"
                          class="form-control">
                          <option selected disabled value="null">Select Contractor</option>
                          <option *ngFor="let ct of globalContractor" [value]="ct.contractorId">{{ct.contractorName}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class='col-sm-4'>
                      <div class="form-group">
                        <label class="form-control-label required" for="empJoiningDate">Date of Joining</label>
                        <input type="text" id="empJoiningDate" class="form-control" formControlName="empJoiningDate"
                          placeholder="YYYY-MM-DD" name="empJoiningDate" required autocomplete="off" ngbDatepicker
                          #d1="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && f.empJoiningDate.errors }"
                          (click)="d1.toggle()">
                        <div *ngIf="submitted && f.empJoiningDate.errors" class="invalid-feedback">
                          <div *ngIf="f.empJoiningDate.errors.required">Please Select Date of Joining</div>
                        </div>
                      </div>
                    </div>

                    <div class='col-sm-4'>
                      <div class="form-group">
                        <label class="d-block required">Gender</label>
                        <div class="input-group float-left">
                          <div class="custom-control custom-radio d-inline-block">
                            <input type="radio" id="empGender1" formControlName="empGender" class="custom-control-input"
                              [ngClass]="{ 'is-invalid': submitted && f.empGender.errors }" value="m">
                            <label class="custom-control-label mr-4" for="empGender1">Male</label>

                          </div>
                          <div class="custom-control custom-radio d-inline-block mr-3">
                            <input type="radio" id="empGender2" formControlName="empGender" class="custom-control-input"
                              value="f" [ngClass]="{ 'is-invalid': submitted && f.empGender.errors }">
                            <label class="custom-control-label" for="empGender2">Female</label>

                          </div>
                          <div class="custom-control custom-radio d-inline-block">
                            <input type="radio" id="empGender3" formControlName="empGender" class="custom-control-input"
                              value="o" [ngClass]="{ 'is-invalid': submitted && f.empGender.errors }">
                            <label class="custom-control-label" for="empGender3">Other</label>
                            <div *ngIf="submitted && f.empGender.errors" class="invalid-feedback">
                              <div *ngIf="f.empGender.errors.required">Please Select Gender</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='col-sm-4'>
                      <div class="form-group">
                        <label class="d-block"></label>
                        <div class="input-group">
                          <div class="custom-control custom-checkbox d-inline-block mt-3">
                            <input type="checkbox" id="empIsSupervisor_Manager" formControlName="empIsSupervisor_Manager" class="custom-control-input">
                            <label class="custom-control-label" for="empIsSupervisor_Manager">Manager/Supervisor</label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="form-group text-center">
                    <button type="reset" (click)="closeWizard()" class="btn btn-danger btn-raised mr-1">
                      Close
                      <span style="margin-left:10px;">
                        <i class="ft-x"></i>
                      </span>
                    </button>
                    <button type="submit" uiSref="work" class="btn btn-info btn-raised" awNextStep>
                      Next
                      <span style="margin-left:10px;">
                        <i class="ft-chevron-right"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </aw-wizard-step>

          <aw-wizard-step [stepTitle]="'Branch Details'" [canEnter]="empForm.valid"
            [navigationSymbol]="{ symbol: '&#xf126;', fontFamily: 'FontAwesome' }">
            <form [formGroup]="branchForm" (ngSubmit)="submitBranch()">
              <h4 class="head text-center">Please fill below details.</h4>
              <br />
              <div class="row">
                <div class='col-sm-4'>
                  <div class="form-group">
                    <label class="form-control-label required" for="brId">Branch</label>
                    <select id="brId" name="brId" formControlName="brId" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted1 && f1.brId.errors }">
                      <option selected disabled value="null">Select Branch</option>
                      <option *ngFor="let ct of globalBranch" [value]="ct.brId">{{ct.brName}}</option>
                    </select>
                    <div *ngIf="submitted1 && f1.brId.errors" class="invalid-feedback">
                      <div *ngIf="f1.brId.errors.required">Please Select Branch</div>
                    </div>
                  </div>
                </div>

                <div class='col-sm-4'>
                  <div class="form-group">
                    <label class="form-control-label required" for="employeeBranchFromDate">From Date</label>
                    <input type="text" id="employeeBranchFromDate" class="form-control" formControlName="employeeBranchFromDate"
                      placeholder="YYYY-MM-DD" name="employeeBranchFromDate" required autocomplete="off" ngbDatepicker
                      #d2="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted1 && f1.employeeBranchFromDate.errors }"
                      (click)="d2.toggle()">
                    <div *ngIf="submitted1 && f1.employeeBranchFromDate.errors" class="invalid-feedback">
                      <div *ngIf="f1.employeeBranchFromDate.errors.required">Please Select From Date</div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                  <span style="margin-right:10px;">
                    <i class="ft-chevron-left"></i>
                  </span> Previous</button>
                <button uiSref="address" type="submit" class="btn btn-raised btn-info" awNextStep>
                  Next
                  <span style="margin-left:10px;">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </form>
          </aw-wizard-step>

          <aw-wizard-step [stepTitle]="'Department Details'" [canEnter]="branchForm.valid"
            [navigationSymbol]="{ symbol: '&#xf1ad;', fontFamily: 'FontAwesome' }">
            <form [formGroup]="deptForm" (ngSubmit)="submitDept()">
              <h4 class="head text-center">Please fill below details.</h4>
              <br />
              <div class="row">

                <div class='col-sm-4'>
                  <div class="form-group">
                    <label class="form-control-label required" for="departmentId">Department</label>
                    <select id="departmentId" name="departmentId" formControlName="departmentId" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted2 && f2.departmentId.errors }">
                      <option selected disabled value="null">Select Department</option>
                      <option *ngFor="let ct of globalDepartment" [value]="ct.deptId">{{ct.deptName}}</option>
                    </select>
                    <div *ngIf="submitted2 && f2.departmentId.errors" class="invalid-feedback">
                      <div *ngIf="f2.departmentId.errors.required">Please Select Department</div>
                    </div>
                  </div>
                </div>

                <div class='col-sm-4'>
                  <div class="form-group">
                    <label class="form-control-label required" for="empReportingToId">Reporting To</label>
                    <select id="empReportingToId" name="empReportingToId" formControlName="empReportingToId"
                      class="form-control" [ngClass]="{ 'is-invalid': submitted2 && f2.empReportingToId.errors }">
                      <option selected disabled value="null">Select Reporting To</option>
                      <option *ngFor="let ct of globalReportTo" [value]="ct.id">{{ct.name}}</option>
                    </select>
                    <div *ngIf="submitted2 && f2.empReportingToId.errors" class="invalid-feedback">
                      <div *ngIf="f2.empReportingToId.errors.required">Please Select Reporting To</div>
                    </div>
                  </div>
                </div>

                <div class='col-sm-4'>
                  <div class="form-group">
                    <label class="form-control-label required" for="employeeDepartmentFromDate">From Date</label>
                    <input type="text" id="employeeDepartmentFromDate" class="form-control" formControlName="employeeDepartmentFromDate"
                      placeholder="YYYY-MM-DD" name="brFrom" required autocomplete="off" ngbDatepicker
                      #d3="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted2 && f2.employeeDepartmentFromDate.errors }"
                      (click)="d3.toggle()">
                    <div *ngIf="submitted2 && f2.employeeDepartmentFromDate.errors" class="invalid-feedback">
                      <div *ngIf="f2.employeeDepartmentFromDate.errors.required">Please Select From Date</div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                  <span style="margin-right:10px;">
                    <i class="ft-chevron-left"></i>
                  </span> Previous</button>
                <button uiSref="address" type="submit" class="btn btn-raised btn-info" awNextStep>
                  Next
                  <span style="margin-left:10px;">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </form>
          </aw-wizard-step>

          <aw-wizard-step [stepTitle]="'Designation Details'" [canEnter]="deptForm.valid"
            [navigationSymbol]="{ symbol: '&#xe9d3;', fontFamily: 'Feather' }">
            <form [formGroup]="desgForm" (ngSubmit)="submitDesg()">
              <h4 class="head text-center">Please fill below details.</h4>
              <br />
              <div class="row">

                <div class='col-sm-4'>
                  <div class="form-group">
                    <label class="form-control-label required" for="designationId">Designation</label>
                    <select id="designationId" name="designationId" formControlName="designationId" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted3 && f3.designationId.errors }">
                      <option selected disabled value="null">Select Designation</option>
                      <option *ngFor="let ct of globalDesignation" [value]="ct.designationId">{{ct.designationName}}
                      </option>
                    </select>
                    <div *ngIf="submitted3 && f3.designationId.errors" class="invalid-feedback">
                      <div *ngIf="f3.designationId.errors.required">Please Select Designation</div>
                    </div>
                  </div>
                </div>

                <div class='col-sm-4'>
                  <div class="form-group">
                    <label class="form-control-label required" for="employeeDesignationFromDate">From Date</label>
                    <input type="text" id="employeeDesignationFromDate" class="form-control" formControlName="employeeDesignationFromDate"
                      placeholder="YYYY-MM-DD" name="brFrom" required autocomplete="off" ngbDatepicker
                      #d4="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted3 && f3.employeeDesignationFromDate.errors }"
                      (click)="d4.toggle()">
                    <div *ngIf="submitted3 && f3.employeeDesignationFromDate.errors" class="invalid-feedback">
                      <div *ngIf="f3.employeeDesignationFromDate.errors.required">Please Select From Date</div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                  <span style="margin-right:10px;">
                    <i class="ft-chevron-left"></i>
                  </span> Previous</button>
                <button uiSref="address" type="submit" class="btn btn-raised btn-info" awNextStep>
                  Next
                  <span style="margin-left:10px;">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </form>
          </aw-wizard-step>

          <aw-wizard-step [stepTitle]="'Shift Details'" [canEnter]="desgForm.valid"
            [navigationSymbol]="{ symbol: '&#xe9d3;', fontFamily: 'Feather' }">
            <form [formGroup]="shiftForm" (ngSubmit)="submitShift()">
              <h4 class="head text-center">Please fill below details.</h4>
              <br />
              <div class="row">

                <div class='col-sm-4'>
                  <div class="form-group">
                    <label class="form-control-label required" for="shiftId">Shift</label>
                    <select id="shiftId" name="shiftId" formControlName="shiftId" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted4 && f4.shiftId.errors }">
                      <option selected disabled value="null">Select Shift</option>
                      <option *ngFor="let ct of globalShift" [value]="ct.shiftId">{{ct.shiftName}}</option>
                    </select>
                    <div *ngIf="submitted4 && f4.shiftId.errors" class="invalid-feedback">
                      <div *ngIf="f4.shiftId.errors.required">Please Select Shift</div>
                    </div>
                  </div>
                </div>

                <div class='col-sm-4'>
                  <div class="form-group">
                    <label class="form-control-label required" for="employeeShiftFromDate">From Date</label>
                    <input type="text" id="employeeShiftFromDate" class="form-control" formControlName="employeeShiftFromDate"
                      placeholder="YYYY-MM-DD" name="brFrom" required autocomplete="off" ngbDatepicker
                      #d5="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted4 && f4.employeeShiftFromDate.errors }"
                      (click)="d5.toggle()">
                    <div *ngIf="submitted4 && f4.employeeShiftFromDate.errors" class="invalid-feedback">
                      <div *ngIf="f4.employeeShiftFromDate.errors.required">Please Select From Date</div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                  <span style="margin-right:10px;">
                    <i class="ft-chevron-left"></i>
                  </span> Previous</button>
                <button uiSref="address" type="submit" class="btn btn-raised btn-info" awNextStep>
                  Next
                  <span style="margin-left:10px;">
                    <i class="ft-chevron-right"></i>
                  </span>
                </button>
              </div>
            </form>
          </aw-wizard-step>

          <aw-wizard-step [stepTitle]="'Weekly Off'" [canEnter]="shiftForm.valid"
            [navigationSymbol]="{ symbol: '&#xf0ac;', fontFamily: 'FontAwesome' }">
            <form [formGroup]="weeklyoffForm" (ngSubmit)="submitWeeklyOff()">
              <h4 class="head text-center">Please fill below details.</h4>
              <br />
              <div class="row">

                <div class='col-sm-4'>
                  <div class="form-group">
                    <label class="form-control-label required" for="dayOfWeek">Weekly Off</label>
                    <ng-multiselect-dropdown name="dayOfWeek" [placeholder]="'Select City'" [data]="globalWeeks"
                      formControlName="dayOfWeek" [settings]="dropdownSettings"
                      [ngClass]="{ 'is-invalid': submitted5 && f5.dayOfWeek.errors }">
                    </ng-multiselect-dropdown>
                    <div *ngIf="submitted5 && f5.dayOfWeek.errors" class="invalid">
                      <div *ngIf="f5.dayOfWeek.errors?.required">Please Select Weeks</div>
                    </div>
                  </div>
                </div>

                <div class='col-sm-4'>
                  <div class="form-group">
                    <label class="form-control-label required" for="empWeeklyOffDayFromDate">From Date</label>
                    <input type="text" id="empWeeklyOffDayFromDate" class="form-control" formControlName="empWeeklyOffDayFromDate"
                      placeholder="YYYY-MM-DD" name="brFrom" required autocomplete="off" ngbDatepicker
                      #d6="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted5 && f5.empWeeklyOffDayFromDate.errors }"
                      (click)="d6.toggle()">
                    <div *ngIf="submitted5 && f5.empWeeklyOffDayFromDate.errors" class="invalid-feedback">
                      <div *ngIf="f5.empWeeklyOffDayFromDate.errors.required">Please Select From Date</div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-group text-center">
                <button type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                  <span style="margin-right:10px;">
                    <i class="ft-chevron-left"></i>
                  </span> Previous</button>
                <button type="submit" class="btn btn-raised btn-success">
                  Finish
                  <span style="margin-left:10px;">
                    <i class="ft-check"></i>
                  </span>
                </button>
              </div>
            </form>

          </aw-wizard-step>
        </aw-wizard>

      </div>
    </div>
  </div>
</section>
<!-- // Basic form layout section end -->


<!-- Update Form Layout Starts -->
<section id="ngx" *ngIf="isUpdate">
  <div class="card text-left">
    <div class="card-content">
      <div class="card-body">
        <div class="board">
          <!-- Navigation Area (Circular Tabs) -->
          <msw-navbar></msw-navbar>
          <!-- End Navigation Area (Circular Tabs) -->

          <!-- Content Area -->
          <div class="tab-content">
            <!-- Nested view  -->
            <router-outlet> </router-outlet>
          </div>
          <!-- End Content Area -->
        </div>
        <!-- For Debugging: show our valid formData -->
      </div>
    </div>
  </div>
</section>
<!-- Update Form Layout Ends -->


<!-- Sweet Alert Starts-->
<div class="swal2-container swal2-center swal2-fade swal2-shown" style="overflow-y: auto;" *ngIf="showView">
  <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show"
    tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
    <div class="swal2-header">
      <ul class="swal2-progress-steps" style="display: none;"></ul>
      <div class="swal2-icon swal2-error" style="display: none;"><span class="swal2-x-mark"><span
            class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>
      <div class="swal2-icon swal2-question" style="display: none;"></div>
      <div class="swal2-icon swal2-warning" style="display: none;"></div>
      <div class="swal2-icon swal2-info" style="display: none;"></div>
      <div class="swal2-icon swal2-success" style="display: none;">
        <div class="swal2-success-circular-line-left"></div><span class="swal2-success-line-tip"></span> <span
          class="swal2-success-line-long"></span>
        <div class="swal2-success-ring"></div>
        <div class="swal2-success-fix"></div>
        <div class="swal2-success-circular-line-right"></div>
      </div><img class="swal2-image" style="display: none;">
      <h2 class="swal2-title" id="swal2-title" style="display: flex;">Branch Details</h2><button type="button"
        class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
    </div>
    <pre></pre>
    <pre></pre>
    <div class="swal2-content">
      <table class="table table-responsive-md table-borderless" style="table-layout: fixed;">
        <tbody>
          <tr>
            <th>Employee Name</th>
            <td>XYZ</td>
            <th>Mobile Number</th>
            <td>9874561230</td>
            <th>Employee Type</th>
            <td>Manager</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th>Gender</th>
            <td>Male</td>
            <th>Is Manager?</th>
            <td>Yes</td>
            <th>Date of Joining</th>
            <td>20-10-2019</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th>Branch</th>
            <td>Lng Tech</td>
            <th>Department</th>
            <td>Dept 1</td>
            <th>Reporting To</th>
            <td>ABC</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th>Designation</th>
            <td>Desg 1</td>
            <th>Shift</th>
            <td>Day</td>
            <th>Weekly Off</th>
            <td>Sunday</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="swal2-actions" style="display: flex;"><button type="button" class="swal2-confirm swal2-styled"
        aria-label="" (click)="closeView()"
        style="display: inline-block; border-left-color: rgb(12, 194, 126); border-right-color: rgb(12, 194, 126);">OK</button><button
        type="button" class="swal2-cancel swal2-styled" aria-label="" style="display: none;">Cancel</button></div>
    <div class="swal2-footer" style="display: none;"></div>
  </div>
</div>
<!-- Sweet Alert Ends-->