input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.required:after {
  color: #d00;
  content: "*";
  // position: absolute;
  // margin-left: 10px;
  // top:7px;
}

.invalid {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #ff586b;
}

.multiselect-dropdown[_ngcontent-dcu-c3] .dropdown-btn[_ngcontent-dcu-c3] {
  border: 1px solid #a6a9ae !important;
  color: #75787d !important;
}

.searchCust {
  padding: 4px;
  width: 43%;
  margin-right: 26%;
  float: right;
  border-radius: 21px;
  border-bottom-color: gray;
  border-right-color: gray;
  border-width: 1px;
}

// Arch Wizard
.tab-content .tab-pane {
  padding-top: 20px;
}

.alert {
  padding: 8px;
  margin-bottom: 8px;
}

.text-center {
  margin-top: 40px !important;
}

// Sweet Alert
.swal2-modal {
  width: 90%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f5f7fa;
}

// update form
.tab-content .tab-pane{
  padding-top: 20px;
}

.alert {
padding: 8px;
margin-bottom: 8px;
}
