// tooltip
::ng-deep .my-custom-class .tooltip-inner {
  background-color: rgb(37, 145, 216) !important;
  font-size: 75% !important;
}

::ng-deep .my-custom-class .arrow::before {
  background-color: rgb(37, 145, 216) !important;
}
