// tooltip
::ng-deep .my-custom-class .tooltip-inner {
  background-color: rgb(26,187,236) !important;
  font-size: 75% !important;
}

::ng-deep .my-custom-class .arrow::before {
  background-color: rgb(26,187,236) !important;
}
