
.my-custom-class .tooltip-inner{
  background-color: rgb(26,187,236);
  font-size: 75%;
}
.my-custom-class .arrow::before  {
  border-top-color: rgb(26,187,236);
}

input {
  width: 250px !important;
}

select {
  width: 250px !important;
}