<!--Confirm Action Starts-->
<section id="action">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Country</h4>
          <div _ngcontent-hci-c8="" class="form-actions top" style="float:right;margin-top: -30px;">
            <button _ngcontent-hci-c8="" class="btn btn-raised btn-primary" type="button" (click)="openForm()"
              placement="bottom" ngbTooltip="New Country" tooltipClass="my-custom-class">
              <i _ngcontent-hci-c8="" class="fa fa-check-square-o"></i> New
            </button>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <table class="table table-responsive-md">
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>Tel Code</th>
                  <th>Country</th>
                  <th colspan="2">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="showNew" [formGroup]="newCountry">
                  <td>
                    <input type="text" id="projectinput1" class="form-control" formControlName="countryId"
                      name="countryId" autocomplete="off" hidden />
                  </td>
                  <td>
                    <input type="text" id="projectinput6" formControlName="countryTelCode"
                      placeholder="Please Enter Country Tel Code" name="countryTelCode" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.countryTelCode.errors }" maxlength="5"
                      onkeydown="javascript: return (event.keyCode >= 8 && event.keyCode <= 57 )||(event.keyCode >= 96 && event.keyCode <= 105)||( event.keyCode==187 ) || event.keyCode == 107 ? true : false">
                    <div *ngIf="submitted && f.countryTelCode.errors" class="invalid-feedback">
                      <div *ngIf="f.countryTelCode.errors.required">Please enter country tel code</div>
                      <div *ngIf="f.countryTelCode.errors.pattern">Country tel code should start with +</div>
                    </div>
                  </td>
                  <td>
                    <input type="text" id="projectinput1" class="form-control" formControlName="countryName"
                      placeholder="Please Enter Country Name " name="countryName" required autocomplete="off"
                      maxlength="25" [ngClass]="{ 'is-invalid': submitted && f.countryName.errors }"
                      onkeydown="javascript:return (event.keyCode >= 8   && event.keyCode<=46) || (event.keyCode >= 65 && event.keyCode<=90) ||  event.keyCode==32  ? true : false">

                    <div *ngIf="submitted && f.countryName.errors" class="invalid-feedback">
                      <div *ngIf="f.countryName.errors.required">Please Enter Country</div>
                    </div>
                  </td>
                  <td>
                    <a class="success p-0" placement="bottom" tooltipClass="my-custom-class" ngbTooltip="Save"
                      (click)="save()" title=""> <i class="ft-check font-medium-3 mr-2"></i>
                    </a>
                    <a class="danger p-0" placement="bottom" tooltipClass="my-custom-class" ngbTooltip="Cancel"
                      (click)="cancel()" title=""><i class="ft-x font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
                <tr *ngFor="let data of pageOfItems ; let i = index;" [formGroup]="updateCountry">
                  <td>
                    {{i+1}}
                    <input type="text" id="projectinput1" class="form-control" [(ngModel)]="countries.countryId"
                      formControlName="countryId" name="countryId" autocomplete="off" hidden />
                  </td>
                  <td>
                    <span [hidden]="data.showUpdate">
                      {{data.countryTelCode}}
                    </span>
                    <span [hidden]="!data.showUpdate">
                      <input type="text" id="projectinput6" formControlName="countryTelCode"
                        [(ngModel)]="countries.countryTelCode" placeholder="Please Enter Country Tel Code"
                        name="countryTelCode" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted1 && f1.countryTelCode.errors }" maxlength="5"
                        onkeydown="javascript: return (event.keyCode >= 8 && event.keyCode <= 57 )||(event.keyCode >= 96 && event.keyCode <= 105)||( event.keyCode==187 ) || event.keyCode == 107 ? true : false">
                      <div *ngIf="submitted1 && f1.countryTelCode.errors" class="invalid-feedback">
                        <div *ngIf="f1.countryTelCode.errors.required">Please Provide Country Tel Code</div>
                        <div *ngIf="f1.countryTelCode.errors.pattern">Country Tel Code should Start with +</div>
                      </div>
                    </span>
                  </td>
                  <td>
                    <span [hidden]="data.showUpdate">
                      {{data.countryName}}
                    </span>
                    <span [hidden]="!data.showUpdate">
                      <input type="text" id="projectinput1" class="form-control" [(ngModel)]="countries.countryName"
                        formControlName="countryName" placeholder="Please Enter Country Name" name="countryName"
                        required autocomplete="off" maxlength="25"
                        [ngClass]="{ 'is-invalid': submitted1 && f1.countryName.errors }"
                        onkeydown="javascript:return (event.keyCode >= 8   && event.keyCode<=46) || (event.keyCode >= 65 && event.keyCode<=90) ||  event.keyCode==32  ? true : false">
                      <div *ngIf="submitted1 && f1.countryName.errors" class="invalid-feedback">
                        <div *ngIf="f1.countryName.errors.required">Please Enter Country</div>
                      </div>
                    </span>
                  </td>
                  <td width="160">
                    <span [hidden]="data.showUpdate">
                      <a class="success p-0" placement="bottom" tooltipClass="my-custom-class" ngbTooltip="Edit"
                        (click)="editCountry(data)" title="">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                      </a>
                      <a class="danger p-0" placement="bottom" tooltipClass="my-custom-class" ngbTooltip="Delete"
                        (click)="deleteCountry(data)" title="">
                        <i class="ft-trash-2 font-medium-3"></i>
                      </a>
                    </span>
                    <span [hidden]="!data.showUpdate">
                      <a class="success p-0" placement="bottom" tooltipClass="my-custom-class" ngbTooltip="Update"
                        (click)="saveUpdate(data)" title="">
                        <i class="ft-check font-medium-3 mr-2"></i>
                      </a>
                      <a class="danger p-0" placement="bottom" tooltipClass="my-custom-class" ngbTooltip="Cancel"
                        (click)="cancelUpdate(data)" title="">
                        <i class="ft-x font-medium-3 mr-2"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card-footer pb-0 pt-3">
              <jw-pagination [items]='countries' (changePage)="onChangePage($event)"></jw-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Confirm Action Ends-->