<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh m-0">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body login-img">
                            <div class="row m-0">
                                <div class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle">
                                    <img src="./assets/img/gallery/login.png" alt="" class="img-fluid mt-5"
                                        width="400" height="230" />
                                </div>
                                <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                                    <h4 class="card-title mb-2">Change Password</h4>

                                    <form [formGroup]="regularForm" (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label for="userName"></label>
                                            <input type="text" class="form-control mb-3" formControlName="userName"
                                                required placeholder="Username" maxlength="20" autocomplete="off"
                                                [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                                            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                                <div *ngIf="f.userName.errors.required">Username is required</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="oldPassword"></label>
                                            <input type="password" class="form-control mb-3" id="oldPassword"
                                                formControlName="oldPassword" required placeholder="Old Password"
                                                maxlength="20"
                                                [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                                            <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                                                <div *ngIf="f.oldPassword.errors.required">Old Password is required
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="newPassword"></label>
                                            <input type="password" class="form-control mb-3" id="newPassword"
                                                formControlName="newPassword" required placeholder="New Password"
                                                [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                                            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                                <div *ngIf="f.newPassword.errors.required">New Password is required
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="confirmPassword"></label>
                                            <input type="password" class="form-control mb-3" id="confirmPassword"
                                                formControlName="confirmPassword" required
                                                placeholder="Confirm Password"
                                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is
                                                    required</div>
                                            </div>
                                            <small class="form-text text-muted danger"
                                                *ngIf="regularForm.value.newPassword != regularForm.value.confirmPassword">
                                                New Password and Confirm Password does not match
                                            </small>
                                        </div>
                                        <div class="fg-actions d-flex justify-content-between">
                                            <div class="login-btn">
                                                <button class="btn btn-outline-primary" type="submit">Change</button>
                                            </div>
                                            <div class="recover-pass">
                                                <button class="btn btn-primary">
                                                    <a [routerLink]="['/login']"
                                                        class="text-decoration-none text-white">Cancel</a>
                                                </button>
                                            </div>
                                        </div>
                                        <hr class="m-0" />
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->